@import '../../../styles/variables';

.user-form {
  width: 60%;
  min-width: 700px;
  text-align: center;
  margin: 0 auto;

  &__images-block {
    button {
      background-color: $green-button-color;
    }
  }
}

.cropper-img-input {
  opacity: 0;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 0;
}
