<div class="page-header">
  <h2>Veelgestelde vragen</h2>
  <h4>Nog wat hulp hodig bij het gebruik van deze applicatie? Bekijk heir het handboek</h4>
</div>
<section class="bg-wrapper p-3">
  <mat-accordion>
    <h3>Winkels</h3>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Is er een handboek voor de winkels die meedoen?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Is er een handboek voor de winkels die meedoen?</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wat doe ik als een klant content wil aanleveren?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Wat doe ik als een klant content wil aanleveren?</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Kan/mag ik meerdere columns aanleveren?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Kan/mag ik meerdere columns aanleveren?</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wat zijn de richtijnen voor de inhoud?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Wat zijn de richtijnen voor de inhoud?</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ben ik verplicht een column aan te leveren?
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p>Ben ik verplicht een column aan te leveren?</p>
    </mat-expansion-panel>
  </mat-accordion>
</section>
