@import '../../../../styles/variables';
.preview-article {
  &__image {
    height: 20rem;
    border: 1px solid lightgray;

    &.logo {
      height: 12rem;
    }
  }

  &__static {
    .store-name {
      background-color: $blue-button-color;
      color: #fff;
      img {
        border: none;
      }
    }
  }

  &__custom {
    .client-name {
      font-weight: 700;
      font-size: 1.6rem;
    }

    .article-text {
      font-style: italic;
      font-weight: 300;
    }

    .signature {
      font-weight: 500;

      span {
        font-weight: 400;
        &.bold {
          font-weight: 600;
        }
      }
    }
  }
}
