<bb-week-carousel></bb-week-carousel>
<div class="article-constructor">
  <div class="article-constructor__block">
    <h4 class="m-3">Artikel aanmaken</h4>
    <section class="bg-wrapper p-3 mx-3">
      <div class="article-constructor__block--edit py-3">
        <p class="article-constructor__block--edit title">Selecter een Grid Type</p>
        <div class="article-constructor__block--edit text-center">
          <img src="assets/img/no-image.png" class="m-3 article-constructor__block--image type active">
          <img src="assets/img/no-image.png" class="m-3 article-constructor__block--image type">
        </div>
      </div>
      <div class="article-constructor__block--edit py-3">
        <p class="title">Afbeelding</p>
        <img class="article-constructor__block--image logo" *ngIf="articleDetails?.logo" [src]="articleDetails?.logo">
        <div class="article-constructor__block--buttons py-3">
          <button class="btn btn-blue" mat-raised-button (click)="openCropDialog()">
            <i class="material-icons">image</i>
            Toevoegen
          </button>
          <button class="btn btn-blue"  mat-raised-button>
            <i class="material-icons">crop</i>
            Uitsnijden
          </button>
          <button class="btn btn-blue"  mat-raised-button (click)="resetImage()" [disabled]="!articleDetails?.logo">
            <i class="material-icons">replay</i>
            Reset
          </button>
          <button class="btn btn-blue"  mat-raised-button>
            <i class="material-icons">close</i>
            Verwijderen
          </button>
        </div>
      </div>
      <div class="article-constructor__block--edit py-3">
        <span class="block-title">Artikel informatie</span>
        <form class="article-form" [formGroup]="articleForm">
          <mat-form-field class="form-group full-width">
            <input matInput
                   #articleText
                   placeholder="Artikel tekst"
                   type="text"
                   maxlength="450"
                   formControlName="articleText"/>
            <mat-hint align="end">{{articleText.value.length}} / 450</mat-hint>
          </mat-form-field>

          <mat-form-field class="form-group full-width">
            <input matInput
                   type="text"
                   #ctaText
                   placeholder="CTA Text"
                   maxlength="50"
                   formControlName="ctaText"/>
            <mat-hint align="end">{{ctaText.value.length}} / 50</mat-hint>
          </mat-form-field>

          <mat-form-field class="form-group full-width">
            <input matInput
                   type="text"
                   placeholder="CTA Link"
                   formControlName="ctaLink"/>
            <mat-hint align="end">
              <i class="material-icons">link</i>
              TEST
            </mat-hint>
          </mat-form-field>

          <mat-radio-group formControlName="addLink">
            <mat-radio-button class="px-3" value="false">Geen link</mat-radio-button>
            <mat-radio-button class="px-3" value="true">Link</mat-radio-button>
          </mat-radio-group>

          <mat-form-field class="form-group full-width">
            <mat-select placeholder="Groeten" formControlName="regardsId" (ngModelChange)="getSignTypeOptions(articleForm.get('regardsId').value)">
              <mat-option *ngFor="let sign of signatureTypes" [value]="sign.id">{{sign.signatureType}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="addEmail">
            <i class="material-icons">mail_outline</i>
            E-mail toevoegen aan onderschrift
          </mat-checkbox>
        </form>
      </div>
      <div class="article-constructor__block--buttons my-3">
        <button class="btn btn-blue"  mat-raised-button>
          Spellingschecker
        </button>
        <button class="btn btn-blue"  mat-raised-button disabled>
          Opslaan
        </button>
      </div>
    </section>
  </div>

  <div class="article-constructor__block--preview">
    <h4 class="m-3">Preview</h4>
    <bb-article-preview [articleDetails]="articleDetails" [articleForm]="articleForm.value" [selectSign]="selectSign"></bb-article-preview>
    <div class="text-center btn-block m-3">
      <button class="btn btn-blue" mat-raised-button [disabled]="!articleForm.valid">
        Klaar voor publicatiexs
      </button>
    </div>
    <div class="tips p-3 mx-3">
      Tips text <br/>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>

