@import '../../../styles/variables';
.article-constructor {
  display: flex;

  &__block {
    width: 40%;

    &--preview {
      width: 60%;

      .tips {
        justify-content: flex-end;
      }
    }

    &--edit {
      border-bottom: 1px solid lightgray;
      text-align: center;

      .block-title {
        text-align: left;
      }

      .material-icons {
        font-size: 16px;
        vertical-align: sub;
      }
    }

    &--image {
      height: 200px;
      border: 1px solid lightgray;

      &.logo {
        height: 120px;
      }

      &.active {
        box-shadow: 0 0 10px 0 rgba(19, 140, 219, 0.5);
        border: 1px solid rgba(19, 140, 219, 0.5);
      }

      &.type {
        height: 80px;
      }
    }

    &--buttons {
      display: flex;
      justify-content: space-around;
    }
  }
}
