<div *ngIf="articles">
  <div class="page-header">
    <h2>Artikel review</h2>
    <h6>Gepubliceerde artikelen voor deze week ({{articles[currentIndex]?.week}}-{{articles[currentIndex]?.year}})</h6>
  </div>
  <div class="text-center btn-block">
    <button class="blue-btn" mat-raised-button (click)="rejectArticle(articles[currentIndex]?.id)">
      Afwijzen
    </button>
  </div>

  <ngx-hm-carousel
    [(ngModel)]="currentIndex"
    align="left"
    show-num="1"
    [drag-many]="true"
    [infinite]="true"
    aniTime="400"
    [data]="articles"
    class="carousel c-accent">

    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer" ngx-hm-carousel-item *ngFor="let article of articles">
        <bb-article-preview *ngIf="articlesDetails && signatureTypes" class="d-block col-7" [articleDetails]="getCurrentArticleDetails(article?.id)" [selectSign]="currentSignType(article?.id)"></bb-article-preview>
      </article>
      <ng-template #infiniteContainer></ng-template>
    </section>

    <!--only using in infinite mode or autoplay mode, that will render with-->
    <ng-template #carouselContent let-article let-i="index">
      <article class="item cursor-pointer">
        <bb-article-preview *ngIf="articlesDetails && signatureTypes" class="d-block col-7" [articleDetails]="getCurrentArticleDetails(article?.id)" [selectSign]="currentSignType(article?.id)"></bb-article-preview>
      </article>
    </ng-template>

    <ng-template #carouselPrev>
      <div class="click-area p-3">
        <button mat-fab>
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
      </div>
    </ng-template>
    <ng-template #carouselNext>
      <div class="click-area p-3">
        <button mat-fab>
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
      </div>
    </ng-template>

    <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template>
  </ngx-hm-carousel>

  <div class="article-info text-center m-auto">
    <p>Gemaakt door: {{articles[currentIndex]?.name}}</p>
    <p>Gemaakt op: {{articles[currentIndex]?.editDate}}</p>
    <p>Status: {{articles[currentIndex]?.status}}</p>
    <p class="row justify-content-center">
      <span>Gemaakt door:</span>
      <i *ngIf="articles[currentIndex]?.ready" class="material-icons" style="color: green">
        check_circle
      </i>
      <i *ngIf="!articles[currentIndex]?.ready" class="material-icons" style="color: red">
        remove_circle
      </i>
    </p>
  </div>
</div>
