<div *ngIf="articles">
  <div class="page-header">
    <h2>Artikel review</h2>
    <h6>Gepubliceerde artikelen voor deze week ({{articleDetails?.week}}-{{articleDetails?.year}})</h6>
  </div>
  <div class="text-center btn-block">
    <button class="btn btn-blue" mat-raised-button (click)="rejectArticle(articles[currentIndex]?.id)">
      Afwijzen
    </button>
  </div>

  <ngx-hm-carousel
    [(ngModel)]="currentIndex"
    align="left"
    show-num="1"
    [drag-many]="true"
    [infinite]="true"
    aniTime="400"
    [data]="articles"
    class="carousel c-accent">

    <section ngx-hm-carousel-container class="carousel__content">
      <article class="carousel__content--item cursor-pointer" ngx-hm-carousel-item *ngFor="let article of articles">
        <bb-article-preview *ngIf="articleDetails && signatureTypes" class="d-block col-7" [articleDetails]="article" [selectSign]=" getSignatureTypes(article?.signature.id)"></bb-article-preview>
      </article>
      <ng-template #infiniteContainer></ng-template>
    </section>

    <!--only using in infinite mode or autoplay mode, that will render with-->
    <ng-template #carouselContent let-article let-i="index">
      <article class="item cursor-pointer">
        <bb-article-preview *ngIf="articleDetails && signatureTypes" class="d-block col-7" [articleDetails]="article" [selectSign]=" getSignatureTypes(article?.signature.id)"></bb-article-preview>
      </article>
    </ng-template>

    <ng-template #carouselPrev *ngIf="this.articles.length > 1">
      <div class="click-area left p-3">
        <button mat-fab (click)="getArticleDetails(articleId)">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>
      </div>
    </ng-template>
    <ng-template #carouselNext *ngIf="this.articles.length > 1">
      <div class="click-area right p-3">
        <button mat-fab>
          <i class="material-icons">keyboard_arrow_right</i>
        </button>
      </div>
    </ng-template>

    <ng-template #carouselProgress let-progress>
      <div class="progress"></div>
    </ng-template>
  </ngx-hm-carousel>
</div>
