$transition_time: 0.2s;

.carousel {
  width: 100%;
  margin: 0 auto;
  &__content {
    display: flex;
    transition: all 0.295s linear $transition_time;

    &--item {
      width: 100%;
      padding: 0.5em;
      display: block;
      transition: all 0.295s linear $transition_time;
    }
  }
}

bb-article-preview {
  margin: 0 auto;
}

.click-area {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
}
