.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ecebe7;
  display: flex;
  align-items: center;
  .welcome-card {
    width: 40%;
    min-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    &__header {
      display: block;
      &--back-btn {
        position: absolute;
        left: 16px;
        top: 20px;
      }
      &--title {
        font-size: 36px;
      }
      &--logo {
        height: 300px;
      }
    }

    &__content {
      &--actions {
        margin: 10px;
        padding: 0;
        .btn-signin {
          text-transform: uppercase;
        }
      }
      &--form-field {
        display: block;
      }
    }

    .rotate-content {
      transform: rotateY(180deg);
    }
  }
}
