@import '../../../../styles/variables';
$transition_time: 0.2s;

.aniAuto {
  transition: all 3s linear;
}

.carousel {
  color: white;
  &__content {
    display: flex;
    transition: all 0.295s linear $transition_time;

    &--item {
      // width: 100%;
      display: block;
      transition: opacity 0.295s linear $transition_time;

      .week-btn {
        height: 5rem;
        display: block;
        width: 13rem;
        border: 1px solid $blue-button-color;
        color: $blue-button-color;
        background-color: #fff;

        &.visible {
          border-color: $orange-button-color;
          color: $orange-button-color;
        }
      }
    }
  }

  &__click-area {
    width: 5rem;
    text-align: center;

    i {
      font-size: 6rem;
    }
  }
}
