<ngx-hm-carousel
  align="center"
  [(ngModel)]="currentIndex"
  show-num="auto"
  [drag-many]="true"
  [infinite]="infinite"
  [aniTime]="400"
  [data]="weeks"
  class="carousel c-accent">

  <section ngx-hm-carousel-container class="carousel__content">
    <article class="carousel__content--item cursor-pointer"
             ngx-hm-carousel-item
             *ngFor="let week of weeks; let i = index">
      <button class="btn week-btn"
              [ngClass]="{'visible': currentIndex === i}"
              mat-button
              (click)="click(i+1)">
        Week {{week}}
      </button>
    </article>
    <ng-template #infiniteContainer></ng-template>
  </section>

  <!-- only using in infinite mode or autoplay mode, that will render with-->
  <ng-template #carouselContent let-week let-i="index">
    <article class="carousel__content--item cursor-pointer"
             [ngClass]="{'visible': currentIndex===i}">
      <button class="btn week-btn" mat-stroked-button color="primary" (click)="click(i+1)">Week {{week}}</button>
    </article>
  </ng-template>

  <ng-template #carouselPrev>
    <div class="carousel__click-area">
      <i class="material-icons" style="color: #000">keyboard_arrow_left</i>
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div class="carousel__click-area">
      <i class="material-icons" style="color: #000">keyboard_arrow_right</i>
    </div>
  </ng-template>

  <ng-template #carouselProgress let-progress>
    <div class="carousel__progress"></div>
  </ng-template>

</ngx-hm-carousel>
