@import '../../../styles/variables';
.disabled {
  ::ng-deep .mat-form-field-underline {
    display: none;
  }
}

.mat-input-element {
  &:disabled {
    color: #000;
  }
}

.primary {
  background-color: $blue-button-color;
}
