<button class="btn btn-blue my-3" mat-raised-button>
  <a routerLink="/user-settings">
    Gebruiker toevoegen
  </a>
</button>

<section class="bg-wrapper">
  <mat-form-field class="p-3">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Zoeken">
  </mat-form-field>
  <div class="data-table mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Photo Column -->
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Afbeelding </th>
        <td mat-cell *matCellDef="let row">
          <img *ngIf="row.avatar" [src]="row.avatar">
          <img *ngIf="!row.avatar" src="assets/img/no_avatar.png">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- Store ID Column -->
      <ng-container matColumnDef="storeId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Winkel </th>
        <td mat-cell *matCellDef="let row">
          <button mat-mini-fab class="mx-3">
            <a [routerLink]="'/user-settings/'+ row.id">
              <i class="material-icons">
                edit
              </i>
            </a>
          </button>
          <p>{{row.store.id}}</p>
        </td>
      </ng-container>

      <!-- Last login Column -->
      <ng-container matColumnDef="lastLogin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Laatste login op </th>
        <td mat-cell *matCellDef="let row"> {{row.last_login | date: 'dd/MM/yy h:mm:ss a '}} </td>
      </ng-container>

      <!-- Number of logins Column -->
      <ng-container matColumnDef="numberOfLogins">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Logins </th>
        <td mat-cell *matCellDef="let row"> {{row.logins_count}} </td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rolen </th>
        <td mat-cell *matCellDef="let row"> {{row.role}} </td>
      </ng-container>

      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Injeschakeld </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle
            [checked]="row.is_active"
            [color]= "sliderColor"
          ></mat-slide-toggle>
        </td>
      </ng-container>

      <!-- Admin Column -->
      <ng-container matColumnDef="admin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
        <td mat-cell *matCellDef="let row">
          <mat-slide-toggle
            [checked]="row.admin"
            [color]= "sliderColor">
          </mat-slide-toggle>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</section>
